.App {
  text-align: center;
  font-family: "Montserrat","游ゴシック","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-body {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}

.canvas-menu {
  overflow: scroll;
  background-color: rgba(21,21,21);
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding-left: 1.5rem;
}

.canvas-back-icon {
  display: inline-block;
  position: absolute;
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 3px;
  height: auto;
  width: auto;
  border: solid 2px rgba(21,21,21);
  border-radius: 50%;
  color: #fff;
}

.back-icon-circle {
  display: inline-block;
  position: absolute;
  margin-top: 16px;
  margin-left: -45%;
}