section {
    overflow: scroll;
    margin-top: 16px;
    margin-left: 5px;
    height: 95%;
    width: 100%;
    border: 1px solid #eee;
    background-color: #fff;
}

form {
    text-align: left;
    padding-top: 16px;
    padding-left: 10%;
}

.form-collapse {
    width: 80ch;
    margin-bottom: 6px;
}

.form-panel {
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    padding-left: 1ch;
}

.form-elements {
    width: 80ch;
}

li {
    margin-bottom: 16px;
}

div.elements {
    margin-bottom: 16px;
}

p.candidate {
    margin-top: 6px;
    text-align: left;
    padding-left: 12px;
}

a.candidates:link{
    color: blue;
}
a.candidates:hover {
    color: red;
}

span.inline-block {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5ch 1ch;
}