.label-area {
    margin-top: 2rem;
    margin-left: 5rem;
}

.label {
    display: inline-block;
    padding: 0.3rem;
    margin-right: 0.5rem;
    text-align: left;
    border-radius: 0.25rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.default {
    color: gray;
    border: gray 1px solid;
}

.advisory {
    color: black;
    border: rgb(254, 242, 99) 1px solid;
    background-color: rgb(254, 242, 99);
}

.warning {
    color: white;
    border: rgb(191, 13, 13) 1px solid;
    background-color: rgb(191, 13, 13);
}

.emergency {
    color: white;
    border: rgb(98, 68, 152) 1px solid;
    background-color: rgb(98, 68, 152);
}